
.paragrafo-padrao {
    background-color: #f5f5f5f5;
    color: black;
    margin: 40px;
    padding: 20px;
}
.paragrafo-destacado {
    background-color: #f0cce2;
    color: black;
    margin: 40px;
    padding: 20px;
}